@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bgColor :#171717;
  --textColor: #ddd;
  --themeColorLight: #9c3cf2;
  --themeColorDark:  #833cf0;
}

body{
  background-color:var(--bgColor);
  color:var(--themeColorDark) ;
}
